.loader-bg {
    width: 100%;
    height: 700px;
}

.middle {
    position: fixed;
    top: 330px;
    left: 650px;
    color: whitesmoke;
}

.mdl-progress {
    top: 360px;
    left: 490px;
}

.hidden {
    display: none;
}
