.main-center {
    align-items: center;
    justify-content: center;
}

.page-content {
    height: 700px;
}

.add-project-container {
    height: 300px;
    margin: 20px;
}

.add-project-button {
    left: 75%;
    margin-top: 20px;
}

input {
    height: 30px;
}
