/* ==========================================================================
   Section comment block
   ========================================================================== */


/* Sub-section comment block
   ========================================================================== */


/**
 * Short description using Doxygen-style comment format
 *
 * The first sentence of the long description starts here and continues on this
 * line for a while finally concluding here at the end of this paragraph.
 *
 * The long description is ideal for more detailed explanations and
 * documentation. It can include example HTML, URLs, or any other information
 * that is deemed necessary or useful.
 *
 * @tag This is a tag named 'tag'
 *
 * TODO: This is a todo statement that describes an atomic task to be completed
 *   at a later date. It wraps after 80 characters and following lines are
 *   indented by 2 spaces.
 */


/* Basic comment */


/*
.flex-contianer {
  display: flex;
}*/

.page-content {
    padding: 0 0;
    background: #F2F2F2;
}


/* ==========================================================================
    Header
   ========================================================================== */


/* Makes title in header closer to the left, b/c of drawer/menu icon that used to be there.*/

.mdl-layout__header-row {
    padding: 0 30px;
}

.top-header {
    background-color: white;
}

.mdl-navigation__link {
    color: #2196f3 !important;
}


/* ==========================================================================
    Control Panel
   ========================================================================== */

.panel-header {
    position: fixed;
    background-color: #2196f3;
}

.panel {
    height: 700px;
    margin: 0px;
    background: #2A3743;
    justify-content: flex-end;
}


/* Layouts Card
   ========================================================================== */

.layout-title {
    padding-left: 12px;
    background: #33414D;
    z-index: 99;
}

.layout-title h5 {
    color: #fff;
}

.layout-card {
    background: #33414D;
    color: #ffffff;
    width: 100%;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.layout-button {
    width: 50%;
    display: -webkit-flex;
    display: flex;
}

.layout-button i {
    margin: auto;
    font-size: 35px;
}

.layout-button-toggled {
    background-color: #2A3743;
}

.border-left {
    border-left: .5px solid #bdbdbd;
}

.border-top {
    border-top: .5px solid #bdbdbd;
}

.border-top-left {
    border-top: .5px solid #bdbdbd;
    border-left: .5px solid #bdbdbd;
}


/* ==========================================================================
    ER Diagram container css
   ========================================================================== */

.er-content {
    width: 800px;
    height: 600px;
}


/* ==========================================================================
    Footer
   ========================================================================== */


/* Makes the footer slimer*/

.mdl-mini-footer {
    padding: 2px 16px;
}
