/* ==========================================================================
   Section comment block
   ========================================================================== */


/* Sub-section comment block
   ========================================================================== */


/**
 * Short description using Doxygen-style comment format
 *
 * The first sentence of the long description starts here and continues on this
 * line for a while finally concluding here at the end of this paragraph.
 *
 * The long description is ideal for more detailed explanations and
 * documentation. It can include example HTML, URLs, or any other information
 * that is deemed necessary or useful.
 *
 * @tag This is a tag named 'tag'
 *
 * TODO: This is a todo statement that describes an atomic task to be completed
 *   at a later date. It wraps after 80 characters and following lines are
 *   indented by 2 spaces.
 */


/* Basic comment */


/*
.flex-contianer {
  display: flex;
}*/

.page-content {
    padding: 0 0;
    background: #F2F2F2;
}


/* ==========================================================================
    Header
   ========================================================================== */


/* Makes title in header closer to the left, b/c of drawer/menu icon that used to be there.*/

.mdl-layout__header-row {
    padding: 0 30px;
}

.top-header {
    background-color: #fff;
}

.mdl-navigation__link {
    color: #303f9f !important;
}


/* ==========================================================================
    Scrollbar
   ========================================================================== */

::-webkit-scrollbar {
    width: 6px;
}


/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}


/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(109, 109, 109, 0.8);
    ;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(109, 109, 109, 0.4);
}


/* ==========================================================================
    Control Panel
   ========================================================================== */

.panel-header {
    position: fixed;
    background-color: #303f9f;
}

.panel {
    height: 700px;
    margin: 0px;
    background: #2A3743;
    justify-content: flex-end;
}


/* hidden attr card
   ========================================================================== */

.hidden-attr-card {
    background: inherit;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow-y: auto;
}

.hidden-attr-list {
    width: 300px;
}

.hidden-attr-item {
    color: #fff;
}

.hidden-attr-item:hover {
    background: #33414d;
}

.vis-icon {
    color: #858e96;
}


/* Control Card
   ========================================================================== */

.control-card {
    margin-top: 10px;
    width: 100%;
    min-height: 90px;
    background: inherit;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.change-projects-button {
    margin: auto;
}

.attr-show-hide {
    margin: auto;
}

.export-button {
    margin: auto;
}


/* Layouts Card
   ========================================================================== */

.layout-title {
    padding-left: 12px;
    background: #33414D;
    z-index: 99;
}

.layout-title h5 {
    color: #fff;
}

.layout-card {
    background: #33414D;
    color: #ffffff;
    width: 100%;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.layout-button {
    width: 50%;
    display: -webkit-flex;
    display: flex;
}

.layout-button i {
    margin: auto;
    font-size: 35px;
}

.layout-button-toggled {
    background-color: #2A3743;
}

.border-left {
    border-left: .5px solid #bdbdbd;
}

.border-top {
    border-top: .5px solid #bdbdbd;
}

.border-top-left {
    border-top: .5px solid #bdbdbd;
    border-left: .5px solid #bdbdbd;
}


/* ==========================================================================
    ER Diagram container css
   ========================================================================== */

.er-container {
    position: absolute;
    width: 100%;
    margin-left: calc(25% - 16px);
}

.er-content {
    width: 100%;
    height: 700px;
}

#databaseActions, #databaseDiagram {
    float: left;
}

#databaseActions button {
    margin-top: 15px;
    margin-bottom: 15px;
}


/* ==========================================================================
    Footer
   ========================================================================== */


/* Makes the footer slimer*/

.mdl-mini-footer {
    padding: 2px 16px;
}


/*
.mdl-spinner {
    top: 320px;
    left: 525px;
}*/
