<div class="mdl-card edit-container">
  <div class="mdl-card__title main-card mdl-color-text--white">
      <h2 class="mdl-card__title-text">Edit Existing Project</h2>
  </div>
  <div class="mdl-card__supporting-text edit-input-container">
      <form action="#">
          <!-- Textfield with Floating Label -->
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="projectName" placeholder="Project" ng-model="projectToEdit.name">
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="projectSchema" placeholder="Database" ng-model="projectToEdit.database">

          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="projectHost" placeholder="Host" ng-model="projectToEdit.host">
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="projectPort" placeholder="Port" ng-model="projectToEdit.port" pattern="-?[0-9]*(\.[0-9]+)?">
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="projectUser" placeholder="Username" ng-model="projectToEdit.username">
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="projectPassword" placeholder="Password" ng-model="projectToEdit.password">
          </div>
      </form>

      <button class="mdl-button mdl-js-button mdl-button--raised edit-button-submit" ng-click="submitEditRequest(projectToEdit)">
            Submit
          </button>
      <button class="mdl-button mdl-js-button edit-button-cancel" ng-click="cancelEditRequest()">
            Cancel
      </button>
      </form>
  </div>

</div>
