<div class="row">
	<div class="buffer"></div>
	<div class="jumbotron col-sm-4" id="addProject" align="left">
		<center>
			<h3>Add a new project!</h3>
			<img class="pikachu" src="/views/assets/pikachu.gif" alt="Loading" title="Loading"/>
		</center>
		<form class="form-horizontal" id="adder">
		<fieldset>
			<div class="form-group">
				<label for="Project" class="col-lg-3 control-label">Project:</label>
				<div class="col-lg-6">
				<input type="text" class="form-control" id="projectName" ng-model="projectToAdd.name">
				</div>
			</div>
			<div class="form-group">
				<label for="Credentials" class="col-lg-3 control-label">ID:</label>
				<div class="col-lg-6">
				<input type="text" class="form-control" id="projectId" ng-model="projectToAdd.id">
				</div>
			</div>
			<div class="form-group">
				<label for="Host" class="col-lg-3 control-label">Host:</label>
				<div class="col-lg-6">
					<input type="text" class="form-control" id="projectHost" ng-model="projectToAdd.host">
				</div>
			</div>
			<div class="form-group">
				<label for="Port" class="col-lg-3 control-label">Port:</label>
				<div class="col-lg-6">
					<input type="text" class="form-control" id="projectPort" ng-model="projectToAdd.port">
				</div>
			</div>
			<div class="form-group">
				<label for="Username" class="col-lg-3 control-label">Username:</label>
				<div class="col-lg-6">
					<input type="text" class="form-control" id="projectUser" ng-model="projectToAdd.username">
				</div>
			</div>
			<div class="form-group">
				<label for="Password" class="col-lg-3 control-label">Password:</label>
				<div class="col-lg-6">
					<input type="text" class="form-control" id="projectPassword" ng-model="projectToAdd.password">
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-4"></div>
				<div class="col-lg-6" id="buttons">
					<button type="reset" class="btn btn-default">Cancel</button>
					<button type="submit" class="btn btn-primary" ng-click="addProjectToDB(projectToAdd)">Submit</button>
					</div>
				</div>
		</fieldset>
		</form>
	</div>
	<project-manager class="col-sm-7" align="left"></project-manager>
</div>