<div class="page-content mdl-grid main-center">

    <div class="mdl-card ap-container">
        <div class="mdl-card__title main-card mdl-color-text--white">
            <h2 class="mdl-card__title-text">New Project</h2>
        </div>
        <div class="mdl-card__supporting-text ap-input-container">
            <form action="#">
                <!-- Textfield with Floating Label -->
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="project">
                    <label class="mdl-textfield__label" for="project">Project</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="host">
                    <label class="mdl-textfield__label" for="host">Host</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="port" pattern="-?[0-9]*(\.[0-9]+)?">
                    <label class="mdl-textfield__label" for="port">Port</label>
                    <span class="mdl-textfield__error">Input is not a number!</span>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="username">
                    <label class="mdl-textfield__label" for="username">Username</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="password" id="password">
                    <label class="mdl-textfield__label" for="password">Password</label>
                </div>
            </form>

            <button class="mdl-button mdl-js-button mdl-button--raised ap-button">
                  Add
                </button>
            </form>
        </div>
    </div>

    <div class="mdl-card ep-container">
        <div class="mdl-card__title main-card mdl-color-text--white">
            <h2 class="mdl-card__title-text">Existing Projects</h2>
        </div>
        <ul class="mdl-list ep-list">
            <li class="mdl-list__item mdl-list__item--two-line ep-list-item">
                <span class="mdl-list__item-primary-content">
                  <span>Oscar DB Project</span>
                <span class="mdl-list__item-sub-title">http://beta.oscar.com/</span>
                </span>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary ep-list-button-enter">
                  Enter
                </button>
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored ep-list-button-edit">
                  <i class="material-icons">edit</i>
                </button>
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored ep-list-button-remove">
                  <i class="material-icons">close</i>
                </button>
            </li>

            <li class="mdl-list__item mdl-list__item--two-line ep-list-item">
                <span class="mdl-list__item-primary-content">
                  <span>Tiger Tails 2.0</span>
                <span class="mdl-list__item-sub-title">http://beta.TigerTails.com/</span>
                </span>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary ep-list-button-enter">
                  Enter
                </button>
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored ep-list-button-edit">
                  <i class="material-icons">edit</i>
                </button>
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored ep-list-button-remove">
                  <i class="material-icons">close</i>
                </button>
            </li>

        </ul>



    </div>

</div>
