<div class="jumbotron fill" id="projectManager">
	<h3>Check out an existing project!</h3>
	<table class="table table-striped table-hover ">
	  <thead>
	    <tr>
	      <th>ID</th>
	      <th>Project Name <div style="float:right"></div></th>
	      <th><div></div></th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="item in currentProjects">
			<td>{{item.id}}</td>
			<td>{{item.name}} <div style="float:right"><a href='#schema' class="btn btn-success">Enter</a></div></td>
			<td><div ng-click="deleteProject(item.id)"><a class="btn btn-danger">Delete </a></div></td>  
	    </tr>
	  </tbody>
	</table>
</div>