<div class="page-content mdl-grid" id="schemaManager" ng-controller="schemaController" ng-init="init()">

	<!-- Control Panel Starts-->
	<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--stretch panel">
		<!-- Layouts Card Starts-->
		<div class="mdl-card__actions layout-title mdl-shadow--2dp">
			<h5>Layouts</h5>
		</div>
		<div class="mdl-card layout-card">
			<div class="mdl-card__actions layout-button layout-button-toggled">
				<i class="material-icons">view_module</i>
			</div>
			<div class="mdl-card__actions layout-button border-left">
				<i class="material-icons">swap_horiz</i>
			</div>
			<div class="mdl-card__actions layout-button border-top">
				<i class="material-icons">toll</i>
			</div>
			<div class="mdl-card__actions layout-button border-top-left">
				<i class="material-icons">view_headline</i>
			</div>
		</div>
		<!-- Layouts Card Ends-->
	</div>
	<!-- Layouts Card Ends-->

	<!-- Main Content Starts-->
	<div class="">
		<div class="er-content" id="databaseDiagram"></div>
		<div id="databaseActions">
			<button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" ng-click="toggleAttributeVisibility($event)">
				  Show / Hide All Attributes
			</button>
		</div>
	</div>
</div>