<div class="page-content mdl-grid" id="schemaManager" ng-controller="schemaController" ng-init="init()">

	<!-- Control Panel Starts-->
	<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--stretch panel">
		<div class="mdl-card hidden-attr-card">
			<div class="mdl-list hidded-attr-list">

				<div class="mdl-list__item hidden-attr-item">
					<span class="mdl-list__item-primary-content">
					<span>Patients</span>
					</span>
					<a class="mdl-list__item-secondary-action"><i class="material-icons">visibility</i></a>
				</div>

				<div class="mdl-list__item hidden-attr-item">
					<span class="mdl-list__item-primary-content">
					<span>Drugs</span>
					</span>
					<a class="mdl-list__item-secondary-action"><i class="material-icons">visibility</i></a>
				</div>

				<div class="mdl-list__item hidden-attr-item">
					<span class="mdl-list__item-primary-content">
					<span>Prescritions</span>
					</span>
					<a class="mdl-list__item-secondary-action"><i class="material-icons">visibility</i></a>
				</div>

				<div class="mdl-list__item hidden-attr-item">
					<span class="mdl-list__item-primary-content">
					<span>Doctors</span>
					</span>
					<a class="mdl-list__item-secondary-action"><i class="material-icons">visibility</i></a>
				</div>

				<div class="mdl-list__item hidden-attr-item">
					<span class="mdl-list__item-primary-content">
					<span>Hosptials</span>
					</span>
					<a class="mdl-list__item-secondary-action"><i class="material-icons">visibility</i></a>
				</div>

				<div class="mdl-list__item hidden-attr-item">
					<span class="mdl-list__item-primary-content">
					<span>MOARR DRUGS</span>
					</span>
					<a class="mdl-list__item-secondary-action"><i class="material-icons">visibility</i></a>
				</div>

				<div class="mdl-list__item hidden-attr-item">
					<span class="mdl-list__item-primary-content">
					<span>Kids</span>
					</span>
					<a class="mdl-list__item-secondary-action"><i class="material-icons">visibility</i></a>
				</div>

			</div>
		</div>

		<!-- Conrtol Buttons Starts -->
		<div class="mdl-card mdl-shadow--8dp control-card">
			<button class="mdl-button mdl-js-button mdl-button--accent attr-show">
  				Show all attr.
				</button>
			<button class="mdl-button mdl-js-button mdl-button--accent attr-hide">
  				Hide all attr.
				</button>
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent export-button">
  			Export
			</button>
		</div>
		<!-- Conrtol Buttons Ends -->

		<!-- Layouts Card Starts-->
		<div class="mdl-card__actions layout-title mdl-shadow--2dp">
			<h5>Layouts</h5>
		</div>
		<div class="mdl-card layout-card">
			<div class="mdl-card__actions layout-button layout-button-toggled">
				<i class="material-icons">view_module</i>
			</div>
			<div class="mdl-card__actions layout-button border-left">
				<i class="material-icons">swap_horiz</i>
			</div>
			<div class="mdl-card__actions layout-button border-top">
				<i class="material-icons">toll</i>
			</div>
			<div class="mdl-card__actions layout-button border-top-left">
				<i class="material-icons">view_headline</i>
			</div>
		</div>
		<!-- Layouts Card Ends-->
	</div>
	<!-- Layouts Card Ends-->

	<!-- Main Content Starts-->
	<div class="er-container">
		<div ng-init="gojs()" class="er-content" id="databaseDiagram"></div>
	</div>
</div>
